{% extends "base/base.html" %}
{% block title %}{{ action_text }} {{ object_name }}{% endblock %}

{% block content %}
    <main class="main-info-page">
        <h1 class="title-info-page">{{ action_text }} {{ object_name }}</h1>
        <div class="form-info">
			<form method="post" action="{{ form_action_url }}">
				{% csrf_token %}
				{{ form.errors }}
				{% for field in form %}
					<div class="form-group">
						<span class="text-label-info">{{ field.label_tag }}</span>
						{% if field.name == 'tipo' %}
							<div class="radio-container">
							{% for radio in field %}
								<div class="radio-option">
								{{ radio.tag }} <label for="{{radio.id_for_label}}" class="text-label-info text-label-info-radio">{{ radio.choice_label }}</label>
								</div>
							{% endfor %}
							</div>
						{% else %}
							{{ field }}
						{% endif %}
					</div>
				{% endfor %}
				<button type="submit" class="btn-data-page btn-data-submit">{{ btn_confirmar_form|default:"cadastrar"}}</button>
			</form>
			<div class="btn-data-page-container">
				<a href="{{ back_url }}" class="btn-data-page">voltar</a>
				<a href="#" class="btn-data-page">limpar</a>
			</div>
        </div>
    </main>
{% endblock %}
