<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}Sistema IABS{% endblock %}</title>

	<!--Colocar o CSS e um ícone da página-->
<!--	{% load static %} -->

	<link rel="stylesheet" href="style/style.css">
<!--	<link rel="stylesheet" href="{% static 'style/login.css'%}"> -->

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body-base">
	<!--menu.html-->
<!--	{% block content %}-->
		<header class="menu-vertical">
			<nav class="header-nav">
				<a href="#" id="header-logo"><img src="../sistema_IABS/web_app/static/image/iabs_logo2.png" alt="Logo IABS" class="img-inside-header"></a>
				<a href="#" class="header-opc"><span class="opc-icon"><i class="bx bx-group"></i></span><span class="opc-text">parceiro</span></a>
				<a href="#" class="header-opc"><span class="opc-icon"><i class="bx bx-calendar-event"></i></span><span class="opc-text">reunião</span></a>

				<hr class="hr-menu">

				<a href="#" class="header-out-system"><span class="out-system-icon">Icon</span><span class="opc-text out-system-text">sair</span></a>

			</nav>
		</header>
<!--	{% endblock %}-->
	<!--base.html-->
	<main>
<!--		{% block content %}-->
		<!--search_bar.html-->
<!--		{% block content %}-->
			<form method="get">
				<div class="search-bar">
					<input type="search" placeholder="pesquise aqui!" name="obj" class="input-search"><!--value= "{{ request.GET.obj }}"-->
					<button type="submit" class="btn-search"><i class="bx bx-search"></i></button>
				</div>
			</form>
<!--		{% endblock %}-->

<!--		{% endblock %}-->
	</main>
</body>
</html>


