{% extends "base/base_card_page.html" %}
{% block content %}
<div class="card-page-img-parceiro"></div>
<div class="card-page-text-parceiro">
	<p class="card-page-status-parceiro">tipo: {% if membro.tipo == 'A' %}administrador{% else %}colaborador{% endif %}</p>
	<h3 class="card-page-name-parceiro">nome: {{ membro.nome }}</h3>
</div>
{% endblock %}

{% block card_info_url %}{% url "membro_detail" pk=membro.matricula %}{% endblock %}

{% block particular_action %}
<div class="status-parceiro-widget {% if membro.status == 'A' %}status-green{% elif membro.status == 'I' %}status-red{% else %}status-yellow{% endif %}"></div>
{% endblock %}
