<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}Sistema IABS{% endblock %}|IABS</title>

	<!--Colocar o CSS e um ícone da página-->
	{% load static %}

	<link rel="stylesheet" href="{% static 'style/style.css'%} ">
	<link rel="stylesheet" href="{% static 'style/card-page.css' %}">

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body-base">
	{% include "base/menu.html" %}
	<main>
		{% include "base/search_bar.html" %}
		{% block content %}

		{% endblock %}
	</main>
	<script src="{% static 'js/modal.js' %}"></script>
</body>
</html>


