{% extends "base/base.html" %}
{% block title %}Detalhes de {{ object_name|default:"Registro" }}{% endblock %}

{% block content %}
    <main class="main-info-page">
        <h1 class="title-info-page">detalhes de {{ object_name|default:"Registro" }}</h1>
        <div class="form-info">
			<form>
				{% for field in form %}
					<div class="form-group">
						<span class="text-label-info">{{ field.label_tag }}</span>
						{% if field.name == 'tipo' %}
							<div class="radio-container">
							{% for radio in field %}
								<div class="radio-option">
								{{ radio.tag }} <label for="{{radio.id_for_label}}" class="text-label-info text-label-info-radio">{{ radio.choice_label }}</label>
								</div>
							{% endfor %}
							</div>
						{% else %}
							{{ field }}
						{% endif %}
					</div>
				{% endfor %}
			</form>
			<div class="btn-data-page-container">
				<button onclick="window.history.back()" class="btn-data-page">voltar</button>
				<a href="#" class="btn-data-page">editar</a>
			</div>
        </div>
    </main>
{% endblock %}
