{% extends "base/base_card_page.html" %}
{% block content %}
<div class="card-page-img-reuniao"></div>
<div class="card-page-text-reuniao">
	<h3 class="card-page-assunto-reuniao">{{ reuniao.assunto }}</h3>
	<p class="card-page-date-reuniao">data: {{ reuniao.data_hora }}
	<p class="card-page-status-reuniao">status: {% if reuniao.status == "A" %}agendada{% elif reuniao.status == 'R' %}realizada{% else %}cancelada{% endif %}</p>
	<p class="card-page-type-reuniao">tipo de reunião: {% if reuniao.tipo == "P" %}presencial{% else %}virtual{% endif %}</p>
</div>
{% endblock %}

{% block card_info_url %}{% url "reuniao_detail" pk=reuniao.pk %}{% endblock %}

{% block particular_action %}
<div id="modal-generic"></div>
<a href="{% block card_action_url %}#{% endblock %}" class="btn-show-relatorio btn-card-page-new-action" data-modal-url="{% url 'warning_relatorio' pk=reuniao.pk %}" data-reuniao-id="{{ reuniao.pk }}" data-check-url="{% url 'warning_relatorio' pk=reuniao.pk %}">relatório</a>
{% endblock %}
