<div class="modal-system-perfil" id="modal-perfil">
	<div class="modal-content">
		<header class="modal-header">
			<h5 class="modal-title">perfil admin</h5>
			<hr class="modal-hr">
		</header>
		<main class="modal-main">
			<nav>
				<div class="modal-item-opc">
					<div class="modal-item-opc-icon">icon</div>
					<div class="modal-item-opc-text">
						<h6>página inicial</h6>
						<p>voltar ao menu inicial</p>
					</div>
				</div>
				<div class="modal-item-opc">
					<div class="modal-item-opc-icon">icon</div>
					<div class="modal-item-opc-text">
						<h6>sair</h6>
						<p>sair do sistema</p>
					</div>
				</div>
			</nav>
		</main>
	</div>
</div>
