<div class="modal-data-register">
    <img src="../../static/image/icons/cadastrar.svg" alt="Adição de avatar" class="i-cadastro">
    <div class="modal-register-container-text">
        <span class="modal-register-text-icon"></span>
        <span class="modal-register-text">
            Cadastrar {% if pagina.tipo == "membro" %}membro{% elif pagina.tipo == "parceiro" %}parceiro{% elif pagina.tipo == "reuniao" %}reunião{% endif %}
        </span>
    </div>
    <a href="{{ url }}" class="btn-modal-register">cadastrar</a>
</div>
