<div class="modal-background" id="modal-backdrop"></div>
<div class="modal-system-out" id="modal-dialog">
	<div class="modal-content" id="logout-modal-content">
		<header class="modal-header">
			<h5 class="modal-title">atenção! fechando o sistema</h5>
		</header>
		<main class="modal-main">
			<p>você tem certeza que deseja sair do sistema?</p>
		</main>
		<footer class="modal-footer">
			<a href="{% url 'logout' %}" class="btn-modal btn-confirm-primary" id="confirm-logout">confirmar</a>
			<button type="button" class="btn-modal btn-confirm-second btn-cancel">cancelar</button>
		</footer>
	</div>
</div>
