{% extends "base/base_login.html" %}
{% block title %}Esqueci a Senha{% endblock %}

{% block title_page_form %}redefinir senha{% endblock %}
{% block form_action_url %}{% url 'enviar_email_admin' %}{% endblock %}
{% block btn_message_login %}Enviar{% endblock %}

{% block form_fields %}
{% if form.email %}
	{% if form.email.errors %}
		<br/>
		<div class="alert-errors">
			{% for error in form.email.errors %}
				<p class="alert-text">{{ error }}</p>
			{% endfor %}
		</div>
	{% endif %}
		<label for="{{ form.email.id_for_label }}" class="text-label-input">{{ form.email.label }}</label>
			 {{ form.email }}
{% else %}
	<p>Ocorreu um erro ao carregar o formulário. Por favor, tente novamente.</p>
{% endif %}
{% endblock %}

{% block extra_links %}
	<p class="form-link">
		<a href="{% url 'login' %}">Voltar para o Login</a>
	</p>
{% endblock %}
