<!doctype html>
<html lang="pt-br">
<head>
	<meta chatset="utf-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel= "stylesheet" href= "{% static 'style/style.css' %}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<title>index</title>
</head>
<body>
	<main class="main-home">
		<h1>hello world</h1>
		<a href="{% url 'logout' %}" class="logout-button">sair</a>
		<!--Fazer javascript com tela de confirmação-->
	</main>
</body>
</html>
