<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Login</title>

	<!--Colocar o CSS e um ícone da página-->
	{% load static %}
	
	<link rel="stylesheet" href="{% static 'style/style.css'%}">

	<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
</head>
<body class="login-body">
	<div class="login-card">
		<h2>login</h2>
		<form id="login-form" method="post">
			<div>
				<label for="user-login">usuário:</label></p>
				<div class="input-box-login">
					<i class="bx bx-user"/>
					<input type="text" id="user-login" name="username" class="input-login" placeholder="nome de usuário" required>
				</div>
			</div>

			<div>
				<label for="passwd-login">senha:</label></p>
				<div class="input-box-login">
					<i class="bx bx-lock"/>
					<input type="password" id="passwd-login" name="password" class="input-login" placeholder="senha" required>
				</div>
			</div>

			<div>
				<a id="forget-passwd" href="#">esqueci a senha</a>
			</div>
			<button type="submit" class="btn-submit-form">entrar</button>
		</form>
	</div>
</body>
</html>
